[submodule "artifacts/opencv"]
	path = artifacts/opencv
	url = git@github.com:opencv/opencv.git
[submodule "artifacts/MediaServices"]
	path = artifacts/MediaServices
	url = git@github.com:Virgo-Observatory/MediaServices.git
[submodule "artifacts/OpenBLAS"]
	path = artifacts/OpenBLAS
	url = git@github.com:OpenMathLib/OpenBLAS.git
[submodule "artifacts/oxygen-icons"]
	path = artifacts/oxygen-icons
	url = git@github.com:KDE/oxygen-icons.git
